* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
}
input::-ms-clear {
  display: none;
}
body {
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
.green-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 18px;
  background: #9dd458;
  border: 0;
  padding: 18px 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #9dd458, $amount: 15%);
  }
}
.wrapper {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  font-size: 14px;

  .cart-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .cart-body {
      background: #fff;
      box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
      position: absolute;
      right: 0;
      top: 0;
      width: 385px;
      height: 100%;
      padding: 32px 30px 30px 30px;
      overflow: hidden;

      .items {
        overflow: auto;
        width: 109%;
      }

      .total-block {
        margin: 15px 0px 0px 0px;
        ul {
          li {
            display: flex;
            color: #000;
            margin: 0px 0px 19px 0px;
            &:last-child {
              margin: 0;
            }
            p,
            b {
              font-size: 16px;
            }
            div {
              position: relative;
              height: 1px;
              flex: 1;
              border-bottom: 1px dashed #dfdfdf;
              top: 15px;
              margin: 0 9px;
            }
          }
          margin: 0px 0px 24px 0px;
        }

        .green-button {
          position: relative;
          img {
            position: absolute;
            right: 34px;
          }
        }
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
      }
      .cart-item {
        border-radius: 20px;
        border: 1px solid #f3f3f3;
        background: #fff;
        overflow: hidden;
        padding: 20px 20px 20px 30px;
        height: 119px;
        width: 325px;
        margin: 0px 0px 20px 0px;

        .cart-item-img {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 70px;
          height: 70px;
          margin-bottom: 6px;
          transform: translateX(-10px);
        }
        .description {
          width: 150px;
          p {
            margin: 0px 0px 8px 0px;
            color: #000;
          }
        }
      }
      .deleted-btn {
        transition: all 0.26s ease-in-out;
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
header {
  border-bottom: 1px solid #eaeaea;
  ul {
    li {
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 30px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  span {
    color: #5c5c5c;
    font-weight: 600;
  }
  h3 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    color: #9d9d9d;
  }
}
.content {
  h1 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
  .search-block {
    padding: 15px 18px;
    border-radius: 10px;
    border: 1px solid #f3f3f3;
    width: 250px;
    height: 45px;

    img {
      margin: 0 14px 0 0;
    }
    input {
      border: 0;
      &::placeholder {
        color: #c4c4c4;
        font-size: 14px;
      }
    }
  }
}
.card {
  border-radius: 40px;
  border: 1px solid #f3f3f3;
  background: #fff;
  width: 210px;
  height: 260px;
  padding: 20px 31px 34px 31px;
  margin-right: 40px;
  transition: all 0.26s ease-in-out;
  &:hover {
    box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.09);
    transform: translateY(-7px);
  }
  .favorite {
    cursor: pointer;
    position: relative;

    img {
      position: absolute;
      top: 8px;
      left: 0;
    }
  }
  h5 {
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 150px;
    margin-bottom: 14px;
    margin-top: 14px;
  }
  span {
    color: #bdbdbd;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  b {
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.button {
  cursor: pointer;
}
